<p>Hello <b>{{user}}</b> Welcome Back!<p>
<p> Today Weather is <b>{{weather}}</b></p>
<p *ngIf='status; else noButton'><button class="form-control btn btn-primary col-4" (click)="getWeatherStatus()" >Refresh Weather</button></p>
<ng-template #noButton><span [ngClass]="{emergency:!status}" [ngStyle]="{border:'1px solid black'}"> Refresh to Get Update Button</span></ng-template>
<!-- <app-warning-alert #noButton  class="row m-1 p-0 justify-content-center"></app-warning-alert> -->

<div class="row m-1">
    <!-- <input type="text" class="form-control col-4 mx-2" (input)="onKeyboardStroke($event)"> -->
    <input type="text" class="form-control col-4 mx-2" [(ngModel)]="input">
    <button class="form-control btn btn-success col-4" (click)="commentPush()" [disabled]="!input">Push</button>
    <button class="form-control col-3 btn btn-secondary mx-2" [disabled]="!input" (click)="clearInput()">clear</button>
    <span class="col-12">{{input}}</span>
</div>

<div class="row m-1">
    <div class="col-12"><h3>Comments</h3></div>
    <div class="col-12" *ngFor="let comment of comments;let i = index" 
    [ngStyle]="{backgroundColor: i % 2==0 ? '#F19581':'#B3FB9F'}" >
        {{comment}}
    </div>
</div>
